{% extends 'profile/profile.html.twig' %}

{% block nav %}{% endblock %}
{% block data %}
    <div class="card">
        <div class="card-header">
            Форма поиска игрока
        </div>
        <div style="padding: 15px 20px;">
            <form>
                <div class="form-row">
                    <div class="col-auto">
                        <input type="text" class="form-control" placeholder="Social ID">
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" placeholder="Game ID">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Найти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if data is defined and data|length > 0 %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Тип</th>
                        <th>Операция</th>
                        <th>Дата</th>
                        <th>Движение</th>
                        <th>До</th>
                        <th>После</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data %}
                        <tr class="{{ row.get > 0 ? 'warning' : 'success' }}">
                            <td>{{ row.item_id }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.type }}</td>
                            <td>{{ row.date }}</td>
                            <td>{{ row.get }}</td>
                            <td>{{ row.before }}</td>
                            <td>{{ row.after }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Данных нет</p>
            {% endif %}
        </div>
    </div>
{% endblock %}