{% extends 'layout.general.html.twig' %}

{% block content %}
    {% block header %}
        <h2>Профиль</h2>
    {% endblock %}
    {% block nav %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {{ page == 'overview' ? 'active' : '' }}" href="/profile/overview">Обзор</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page == 'stat' ? 'active' : '' }}" href="/profile/stat">Движение</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page == 'history' ? 'active' : '' }}" href="/profile/history">История</a>
            </li>
        </ul>
    {% endblock %}
    {% block data %}{% endblock %}
{% endblock %}