{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/images/playkot.png" class="d-inline-block align-top"> SuperCity
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выбор платформы
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Fotostrana</a>
                        <a class="dropdown-item" href="#">Mail.ru</a>
                        <a class="dropdown-item" href="#">Vkontakte</a>
                        <a class="dropdown-item" href="#">Odnoklassniki</a>
                        <a class="dropdown-item" href="#">Facebook</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
            Версия деплоя: <b>12345</b> Пользователь
        </span>
        </div>
    </nav>
    <div class="container-fluid" style="margin-top: 15px">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/profile">Профиль</a></li>
                        <li class="list-group-item"><a href="/actions">Промоушены</a></li>
                        <li class="list-group-item"><a href="/snapshots">Снэпшоты</a></li>
                    </ul>
                </div>
            </div>
            <main class="col-md-10">
                <div>{% block content %}{% endblock %}</div>
            </main>
        </div>
    </div>
{% endblock %}
